.logging-header{
  background-color: rgba(241, 214, 245, 0.493);
}

form{
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.center{
  text-align: center;
}

.signUp{
  /* padding: 0.8rem; */
  /* margin: auto 4rem; */
}

.vl {
  border-left: 3px solid rgb(187, 2, 178);
  height: 270px;
}

.vColumn{
  width: 10px;
}

#accordionExample, #headingOne, #collapseOne, .card-body, .card {
  background-color: transparent;
}
